{% extends "base.html" %}
{% load static %}
{% block title %}
<title>About Us</title>
{% endblock title %}

{% block content %}
<div class="container">
    <h2>Meet Our Team</h2>
    <p>We are students of the University of Roehampton London, B.Sc. Computer Science and Software Engineering. Our team is working on this project "University Cyber and Technology Clinic" to support SMEs and the local community with technology solutions.</p>
    <div class="team" style="display: flex; flex-wrap: wrap; gap: 20px; justify-content: center;">
        <div class="team-member" style="flex: 1 1 200px; max-width: 250px; text-align: center;">
            <img src="{% static 'images/MohebulHasanEmon.png'%}" alt="Mohebul Hasan Emon" style="width: 100%; height: 250px; object-fit: cover;">
            <h3>Mohebul Hasan Emon</h3>
            <p><strong>Role:</strong> Network Security Specialist</p>
            <p>Designing and implementing secure network architectures and conducting vulnerability assessments.</p>
        </div>
        <div class="team-member" style="flex: 1 1 200px; max-width: 250px; text-align: center;">
            <img src="{% static 'images/fabrizo.png'%}" alt="Fabrizio Morales" style="width: 100%; height: 250px; object-fit: cover;">
            <h3>Fabrizio Morales</h3>
            <p><strong>Role:</strong> Cloud Security Specialist</p>
            <p>Securing cloud environments and ensuring compliance with industry standards and best practices.</p>
        </div>
        <div class="team-member" style="flex: 1 1 200px; max-width: 250px; text-align: center;">
            <img src="{% static 'images/raja.png'%}" alt="Rajababu Kushwaha" style="width: 100%; height: 250px; object-fit: cover;">
            <h3>Rajababu Kushwaha</h3>
            <p><strong>Role:</strong> Data Protection and Recovery Expert</p>
            <p>Implementing robust data backup, encryption, and recovery strategies to safeguard sensitive information.</p>
        </div>
        <div class="team-member" style="flex: 1 1 200px; max-width: 250px; text-align: center;">
            <img src="{% static 'images/paul.png'%}" alt="Paul Hayward" style="width: 100%; height: 250px; object-fit: cover;">
            <h3>Paul Hayward</h3>
            <p><strong>Role:</strong> Incident Response & Forensics Specialist</p>
            <p>Leading incident response efforts and conducting forensic investigations to mitigate and resolve breaches.</p>
        </div>
    </div>
</div>
{% endblock content %}
