{% extends "base.html" %}
{% load static %}


{% block title %}
<title>Resources</title>
<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
<!-- Futuristic Font -->
<link href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap" rel="stylesheet">
<!-- AOS CSS -->
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<!-- Custom CSS -->
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock title %}



{% block content %}

<!-- Hero Section -->
<section class="relative w-full h-screen overflow-hidden">
  
  <!-- Fixed Background Video -->
  <video id="video-background" autoplay loop muted playsinline class="fixed top-0 left-0 w-full h-full object-cover z-[-1] pointer-events-none">
    <source src="{% static 'images/circuit-board.3840x2160.mp4' %}" type="video/mp4">
    Your browser does not support the video tag.
  </video>

  <!-- Top-Aligned Heading -->
  <div class="absolute top-16 left-1/2 transform -translate-x-1/2 z-20 px-4 text-center w-full max-w-4xl">
    <h1 class="matrix-text text-outline mb-6" data-text="University Cyber Clinic">
      Welcome to Resource Page.
  </div>

<!-- Bottom-Aligned Sliding Paragraph -->
<div class="absolute bottom-72 left-1/2 transform -translate-x-1/2 z-20 px-4 text-center w-full max-w-4xl">
  <div id="auto-slider" class="text-lg md:text-xl px-4 leading-relaxed text-center transition-opacity duration-1000 ease-in-out">
    <p id="slide-text" class="slide-text-outline"> Useful Cyber Security Resources </p>
  </div>
</div>

  <!-- Scroll Down Cue -->
  <div class="absolute bottom-6 left-1/2 transform -translate-x-1/2 text-white text-4xl animate-bounce z-20">
    &#x21E3;
  </div>
</section>



<!-- Main Content -->

<section class="mb-16">
  <!-- What We Offer Title -->
  <div class="flex justify-center mb-12" data-aos="fade-down">
    <div class="px-6 py-3 border-2 border-yellow-400 rounded-full text-white text-2xl md:text-3xl font-bold bg-gray-900 bg-opacity-70 backdrop-blur">
      Webinars and Training Sessions
    </div>
  </div>

  <div class="bg-gray-900 bg-opacity-20 backdrop-blur-lg border-2 border-yellow-400 rounded-2xl shadow-2xl p-10">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
      <!-- Video Card 1 -->
      <div class="bg-black bg-opacity-70 p-6 rounded-xl hover:shadow-2xl transform hover:scale-105 transition duration-300 hover:border-4 hover:border-yellow-400" data-aos="fade-up">
        <div class="aspect-w-16 aspect-h-9 mb-4 p-1">
          <iframe class="rounded-lg w-full h-48" src="https://www.youtube.com/embed/88-FENio9Yw?si=gh5pb6-ldqHt4jy_" title="What is Cyber Security? How You Can Protect Yourself from Cyber Attacks" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <h4 class="text-xl font-bold text-gray-300 mb-3">What is Cyber Security? How You Can Protect Yourself from Cyber Attacks</h4>
        <p class="text-gray-400">What is cyber security? Watch this video to find out about cyber criminals, cyber security and how to protect yourself from malware and cyber threats.</p>
      </div>

      <!-- Video Card 2 -->
      <div class="bg-black bg-opacity-70 p-6 rounded-xl hover:shadow-2xl transform hover:scale-105 transition duration-300 hover:border-4 hover:border-yellow-400" data-aos="fade-up" data-aos-delay="100">
        <div class="aspect-w-16 aspect-h-9 mb-4 p-1">
          <iframe class="rounded-lg w-full h-48" src="https://www.youtube.com/embed/CVJiZIjdOOE" title="Security Education & Awareness: Phishing Prevention" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <h4 class="text-xl font-bold text-gray-300 mb-3">Security Education & Awareness: Phishing Prevention</h4>
        <p class="text-gray-400">Tips for how to identify phishing and suspicious emails to protect your organization.</p>
      </div>

      <!-- Video Card 3 -->
      <div class="bg-black bg-opacity-70 p-6 rounded-xl hover:shadow-2xl transform hover:scale-105 transition duration-300 hover:border-4 hover:border-yellow-400" data-aos="fade-up" data-aos-delay="200">
        <div class="aspect-w-16 aspect-h-9 mb-4 p-1">
          <iframe class="rounded-lg w-full h-48" src="https://www.youtube.com/embed/aLb3lXZQgPY?si=FtwmM34JJKM52ctJ" title="Cyber security fundamentals | Understanding Cybersecurity Basics" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <h4 class="text-xl font-bold text-gray-300 mb-3">Cyber security fundamentals | Understanding Cybersecurity Basics</h4>
        <p class="text-gray-400">"Cybersecurity Fundamentals" will introduce you to the world of cybersecurity and talks about its basic concepts.</p>
      </div>

      <!-- Video Card 4 -->
      <div class="bg-black bg-opacity-70 p-6 rounded-xl hover:shadow-2xl transform hover:scale-105 transition duration-300 hover:border-4 hover:border-yellow-400" data-aos="fade-up">
        <div class="aspect-w-16 aspect-h-9 mb-4 p-1">
          <iframe class="rounded-lg w-full h-48" src="https://www.youtube.com/embed/9BhpN-uL9Ds?si=ljhyMhx_i6isRjWS" title="Watch this to prevent DDoS attacks" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <h4 class="text-xl font-bold text-gray-300 mb-3">Watch this to prevent DDoS attacks</h4>
        <p class="text-gray-400">Do you know about a DDoS attack that affected Twitter, Reddit, The New York Times, and PayPal at once?</p>
      </div>

      <!-- Video Card 5 -->
      <div class="bg-black bg-opacity-70 p-6 rounded-xl hover:shadow-2xl transform hover:scale-105 transition duration-300 hover:border-4 hover:border-yellow-400" data-aos="fade-up" data-aos-delay="100">
        <div class="aspect-w-16 aspect-h-9 mb-4 p-1">
          <iframe class="rounded-lg w-full h-48" src="https://www.youtube.com/embed/wcaiKgQU6VE?si=7WtH7Ud_IwdnCgnN" title="What Is SQL Injection?" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <h4 class="text-xl font-bold text-gray-300 mb-3">What Is SQL Injection?</h4>
        <p class="text-gray-400">SQL injection is the most common and dangerous method used by hackers to attack websites.</p>
      </div>

      <!-- Video Card 6 -->
      <div class="bg-black bg-opacity-70 p-6 rounded-xl hover:shadow-2xl transform hover:scale-105 transition duration-300 hover:border-4 hover:border-yellow-400" data-aos="fade-up" data-aos-delay="200">
        <div class="aspect-w-16 aspect-h-9 mb-4 p-1">
          <iframe class="rounded-lg w-full h-48" src="https://www.youtube.com/embed/lIsWpCMBxHQ?si=1vigRZmydwR3mWBW" title="What is Ransomware?" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <h4 class="text-xl font-bold text-gray-300 mb-3">What is Ransomware?</h4>
        <p class="text-gray-400">Ransomware has become an extremely common attack from hackers. Learn how to protect yourself before it's too late.</p>
      </div>
    </div>
  </div>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="flex justify-center mb-12" data-aos="fade-down">
  <div class="px-6 py-3 border-2 border-yellow-400 rounded-full text-white text-2xl md:text-3xl font-bold bg-gray-900 bg-opacity-70 backdrop-blur">
    Cybersecurity Resources
  </div>
</div>
<div class="bg-gray-900 bg-opacity-20 backdrop-blur-lg border-2 border-yellow-400 rounded-2xl shadow-2xl p-10">
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
  <!-- Resource Card 1 -->
    <div class="bg-black bg-opacity-70 p-6 rounded-xl hover:shadow-2xl transform hover:scale-105 transition duration-300 hover:border-4 hover:border-yellow-400" data-aos="fade-up">
      <div class="aspect-w-16 aspect-h-9 mb-4">
        <img src="{% static 'images/baner_CyberSecurityBestPracticeGuide.png' %}" alt="Cybersecurity Best Practices Guide" class="rounded-lg object-cover w-full h-48">
      </div>
      <h4 class="text-xl font-bold text-gray-300 mb-3">Cybersecurity Best Practices Guide</h4>
      <p class="text-gray-400 mb-4">Download our comprehensive guide to implementing cybersecurity best practices in your organization.</p>
      <a href="{% static 'pdfs/Cybersecurity_Best_Practices_Guide.pdf' %}" class="text-yellow-400 hover:text-yellow-300 font-medium">📥 Download Guide</a>
    </div>

    <!-- Resource Card 2 -->
    <div class="bg-black bg-opacity-70 p-6 rounded-xl hover:shadow-2xl transform hover:scale-105 transition duration-300 hover:border-4 hover:border-yellow-400" data-aos="fade-up" data-aos-delay="100">
      <div class="aspect-w-16 aspect-h-9 mb-4">
        <img src="{% static 'images/banner_incident_resposnse.png' %}" alt="Incident Response Checklist banner" class="rounded-lg object-cover w-full h-48">
      </div>
      <h4 class="text-xl font-bold text-gray-300 mb-3">Incident Response Checklist</h4>
      <p class="text-gray-400 mb-4">Access a step-by-step checklist to handle cybersecurity incidents effectively.</p>
      <a href="{% static 'pdfs/incident_response_checklist.pdf' %}" class="text-yellow-400 hover:text-yellow-300 font-medium">📥 Download Checklist</a>
    </div>

    <!-- Resource Card 3 -->
    <div class="bg-black bg-opacity-70 p-6 rounded-xl hover:shadow-2xl transform hover:scale-105 transition duration-300 hover:border-4 hover:border-yellow-400" data-aos="fade-up" data-aos-delay="200">
      <div class="aspect-w-16 aspect-h-9 mb-4">
        <img src="{% static 'images/banner_cloud_security_guide.png' %}" alt="Cloud Security Best Practices" class="rounded-lg object-cover w-full h-48">
      </div>
      <h4 class="text-xl font-bold text-gray-300 mb-3">Cloud Security Best Practices</h4>
      <p class="text-gray-400 mb-4">Learn how to secure your cloud infrastructure with our detailed best practices guide.</p>
      <a href="{% static 'pdfs/CloudSecurityGuide.pdf' %}" class="text-yellow-400 hover:text-yellow-300 font-medium">📥 Download Guide</a>
    </div>

    <!-- Resource Card 4 -->
    <div class="bg-black bg-opacity-70 p-6 rounded-xl hover:shadow-2xl transform hover:scale-105 transition duration-300 hover:border-4 hover:border-yellow-400" data-aos="fade-up">
      <div class="aspect-w-16 aspect-h-9 mb-4">
        <img src="{% static 'images/banner_password_guide.png' %}" alt="Secure Password Practices Poster" class="rounded-lg object-cover w-full h-48">
      </div>
      <h4 class="text-xl font-bold text-gray-300 mb-3">Secure Password Practices Poster</h4>
      <p class="text-gray-400 mb-4">Download a printable poster to promote strong password habits in your organization.</p>
      <a href="{% static 'images/Secure-Password-Practices-Poster-2.png' %}" class="text-yellow-400 hover:text-yellow-300 font-medium">📥 Download Poster</a>
    </div>

    <!-- Resource Card 5 -->
    <div class="bg-black bg-opacity-70 p-6 rounded-xl hover:shadow-2xl transform hover:scale-105 transition duration-300 hover:border-4 hover:border-yellow-400" data-aos="fade-up" data-aos-delay="100">
      <div class="aspect-w-16 aspect-h-9 mb-4">
        <img src="{% static 'images/CyberSecurityForIndustry4.png' %}" alt="Cyber Security For Industry 4.0" class="rounded-lg object-cover w-full h-48">
      </div>
      <h4 class="text-xl font-bold text-gray-300 mb-3">Cyber Security For Industry 4.0</h4>
      <p class="text-gray-400 mb-4">Download a printable book to understand Cyber Security in the context of Business.</p>
      <a href="{% static 'pdfs/CyberSecurityForIndustry4.pdf' %}" class="text-yellow-400 hover:text-yellow-300 font-medium">📥 Download Book</a>
    </div>

    <!-- Resource Card 6 -->
    <div class="bg-black bg-opacity-70 p-6 rounded-xl hover:shadow-2xl transform hover:scale-105 transition duration-300 hover:border-4 hover:border-yellow-400" data-aos="fade-up" data-aos-delay="200">
      <div class="aspect-w-16 aspect-h-9 mb-4">
        <img src="{% static 'images/emergingthreatsincybersecurity.png' %}" alt="Emerging Threats in Cyber Security" class="rounded-lg object-cover w-full h-48">
      </div>
      <h4 class="text-xl font-bold text-gray-300 mb-3">Emerging Threats in Cyber Security</h4>
      <p class="text-gray-400 mb-4">Learn about new emerging threats in cyber security.</p>
      <a href="{% static 'pdfs/emergingthreatsincybersecurity.pdf' %}" class="text-yellow-400 hover:text-yellow-300 font-medium">📥 Download the Paper</a>
    </div>
  </div>
</div>
</section>



<!-- AOS & GSAP Scripts -->
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init({ once: true, duration: 1000 });
</script>

{% endblock content %}
